
*.json
.venv
VKBot/settings.py
VKBot/.idea/VKBot.iml
*.xml
*.pyc
.venvNew
*.log
*.pyc
VKBot/Database/Models/__pycache__/CommandModel.cpython-37.pyc
VKBot/Database/Models/__pycache__/BaseModel.cpython-37.pyc
